/*Produk (rafif) start*/
.products{
  position: relative;
  width: 25%;
  float: left;
  
}

.product-thumbnail img{
  height: 60vmin;
  width: 50vmin;
}

.product-overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.product-overlay:hover{
  opacity: 1;
}

.product-overlay:hover > *{
  transform: translateY(0);
}

.product-overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.product-description{
  font-family:'Segoe UI';
  font-size: 2em;
  font-weight: bold;
  color: #00a3c2;
}

.product-wrapper{
  padding: 80px 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

/* Produk (rafif) End */